@font-face {
    font-family: "CJ ONLYONE NEW body Light";
    src: local('CJ ONLYONE NEW body Light'), url('/font/CJ ONLYONE NEW body Light.woff2') format('woff2');
}

* { font-family: "CJ ONLYONE NEW body Light"; }

#trans { 
    border: 1px solid #808080;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

#info { 
    width: 100%;
    border: 1px solid #808080;
    border-top: 3px solid #808080;
    border-collapse: collapse;
}

 th,td { 
    border: 1px solid #808080;
}

tr>td:nth-child(odd) {
    width : 150px;
    white-space: pre;
    padding: 5px;
}

.wide {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}

textarea { 
    border: 0;
    width: 100%;
    outline: none;
    box-sizing: border-box;
}

caption {
    text-align: left;
    font-weight: bold;
}

.addr-container {
    display: flex;
}

.addr-item:nth-child(3), .addr-item:nth-child(4) {
    flex-grow: 1;
}

#nestedTb {
    height: 8em;
    overflow: auto;
}

#grd { 
    border-collapse: collapse; 
    border : 2px solid #808080;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}

#grd th {
    border-top: 5px solid #808080;
    border-bottom: 5px solid #808080;
}

#grd th:first-child { width: 10%; }
#grd th:nth-child(2) { width: 10%; }
#grd th:nth-child(3) { width: 40%; }
#grd td:nth-child(3) { text-align: center; }


