#trans { 
    border: 1px solid #808080;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#info { 
    width: 100%;
    border: 1px solid #808080;
    border-top: 3px solid #808080;
    border-collapse: collapse;    
}

th, td {
    border: 1px solid #808080;
}

td:first-child, td:nth-child(3) {
    width : 150px;
    white-space: pre;
}

.wide {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}

textarea { 
    border: 0;
    width: 100%;
    outline: none;
    box-sizing: border-box;
}

caption {
    text-align: left;
}

.addr-content {
    font-size: 0;
}

.addr {
    width: 40%;
   
}

#grd { 
    border-collapse: collapse; 
    border : 2px solid #808080;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}

#grd th {
    border-top: 5px solid #808080;
    border-bottom: 5px solid #808080;
}

#grd th:first-child {
    width: 10%;
}
#grd th:nth-child(2) {
    width: 10%;
}
#grd th:nth-child(3) {
    width: 40%;
}
#grd td:nth-child(3) { text-align: center; }