@font-face {
    font-family: "CJ ONLYONE NEW body Light";
    src: local('CJ ONLYONE NEW body Light'), url('/font/CJ ONLYONE NEW body Light.woff2') format('woff2');
}

* { font-family: "CJ ONLYONE NEW body Light"; 
    font-size: 0.9rem;}

#trans { 
    border: 1px solid #808080;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

#trans input {
    width: 5rem;
    margin-left: 0.5rem;
}

#info { 
    width: 100%;
    border: 1px solid #808080;
    border-top: 3px solid #808080;
    border-collapse: collapse;
}

th, td { 
    border: 1px solid #808080;
}

.category {
    width: 10px;
    white-space: pre;
    padding: 5px;
}

.wide {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}

textarea { 
    border: 0;
    height: 95px;
    width: 100%;
    outline: none;
    box-sizing: border-box;
}

caption {
    text-align: left;
    font-weight: bold;
}

.addr-container { display: flex; }

.addr-item:nth-child(3), .addr-item:nth-child(4) { flex-grow: 1; }

#nested { 
    height: 100px;
    overflow: auto;
}

#grd { 
    width: 100%;
    border-collapse: collapse; 
    border: 2px solid #808080;
    padding: 0;
    box-sizing: border-box;
}

#grd th {
    border-top: 5px solid #808080;
    border-bottom: 5px solid #808080;
}

#grd th:first-child { width: 10%; }
#grd th:nth-child(2) { width: 10%; }
#grd th:nth-child(3) { width: 40%; }
#grd td:nth-child(3) { text-align: center; }


